@font-face {
  font-family: "alibaba";
  src: url("//at.alicdn.com/wf/webfont/O5Kfzk6sd1Z8/dVMacUazVD7Q.woff2") format("woff2"),
  url("//at.alicdn.com/wf/webfont/O5Kfzk6sd1Z8/4ryrox54AnVC.woff") format("woff");
  font-display: swap;
}